<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/login.css" />
    <title>Login</title>
  </head>
  <body class="auth-container">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand">Dex Studios</a>
        </div>
      </div>
    </nav>

    <div class="login-image-container">
      <img src="/images/loginIMG.gif" alt="Login" class="login-image" />
    </div>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title text-center mb-4 resize">Welcome back!</h3>
        <p class="text-center resize">Sign in to continue using the platform</p>

        <form action="/dashboard" method="POST">
          <div class="mb-3">
            <label for="email" class="form-label resize">Email</label>
            <input
              type="email"
              class="form-control resize"
              id="email"
              name="email"
              placeholder="Enter your email"
              required
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label resize">Password</label>
            <input
              type="password"
              class="form-control resize"
              id="password"
              name="password"
              placeholder="Enter your password"
              required
            />
          </div>
          <!-- Button -->
          <div class="d-grid gap-2 mb-3">  
            <button type="/submit" class="btn btn-primary resize">Log in</button>
          </div>
        </form> 
        <div class="gap-2 mb-3 login-slider">
          <h4 class="login-slider resize">Font Size</h4>
          <input type="range" min="10" max="50" id="slider" value="30" class="login-slider resize" onchange="fontResize()">
        </div>
      </div>
    </div>

    <script>
      const collection = document.getElementsByClassName("resize");

      function fontResize() {
        for (var i = 0; i < collection.length; i++) {
            collection[i].style.fontSize = document.getElementById("slider").value + 'px';
          }
        }
    </script>

  </body>
</html>
