<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Details</title>

    

    <link href="/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <header>

    </header>
    <main>
        <a class="btn btn-primary" href="/users">To Users</a>
        <p>
            User id: <%= user.user_no %><br>
            User name: <%= user.user_name %><br>
            User email: <%= user.user_email %><br>
            User type: <%= user.user_type %><br>
        </p>
    </main>
    <footer>

    </footer>
</body>
</html>